<div class="container">
  <div class="row">
    <div class="col-sm">
     <h2>Comece a Sua Próxima Aventura Agora</h2>
     <h6>Pronto para embarcar em sua próxima grande aventura? Não espere mais! Explore o eGenda hoje mesmo e descubra uma infinidade de opções de acomodação para transformar seus sonhos de viagem em realidade.</h6>
    </div>
    <div class="col-sm">
        <h2>Reservas Simples e Confiáveis</h2>
        <h6>Com nosso sistema de reserva fácil de usar, garantimos uma experiência de reserva rápida, segura e confiável. Basta selecionar suas datas de viagem, escolher entre uma variedade de opções de acomodação e finalizar sua reserva em apenas alguns cliques.</h6>
    </div>
    <div class="col-sm">
      <h2>Opções de Acomodação para Todos os Estilos e Orçamentos</h2>
      <h6>Independentemente do seu estilo de viagem ou orçamento, o eGenda tem o lugar certo para você. Desde luxuosos resorts à beira-mar até aconchegantes pousadas no campo, oferecemos uma ampla seleção de acomodações cuidadosamente selecionadas para atender a todas as suas necessidades.</h6>
    </div>
  </div>
</div>