

  <div class="card" style="width: 18rem;">
 
  <div class="card-body">
    <h5 class="card-title">Quarto 1</h5>
    <p class="card-text">Quarto para 3 pessoas, valor R$300,00 Diaria </p>
    <a href="/reserva/quarto1" class="btn btn-primary">Visitar</a>
  </div>
</div>


  <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Quarto 2</h5>
    <p class="card-text">Quarto para 2 pessoas, valor R$250,00 Diaria </p>
    <a href="/reserva/quarto2" class="btn btn-primary">Visitar</a>
  </div>
</div>

  <div class="card" style="width: 18rem;">
 
  <div class="card-body">
    <h5 class="card-title">Quarto 3</h5>
    <p class="card-text">Quarto para 4 pessoas, valor R$350,00 Diaria </p>
    <a href="/reserva/quarto3" class="btn btn-primary">Visitar</a>
  </div>
</div>


 

  

 

