<div class="container">
  <div class="row">
    <div class="col">
        
  <div class="card-body">
    <h5 class="card-title">Tipo de Quarto: </h5>
    <p class="card-text">Quarto Ventilado, com ar condicionado de frente para praia, perfeito para ferias de um casal</p>
    
  </div>
</div>
    <div class="col">
        <div class="card-body">
    <h5 class="card-title">Capacidade: </h5>
    <p class="card-text">De 1 a 2 Pessoas</p>
    
  </div>
    </div>


    <div class="w-100"></div>
    
    <div class="col">
    
     <div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Valor: </h5>
    <p class="card-text">R$ 250,00</p>
    <a href="/user/register/2" class="btn btn-primary">Reservar</a>
  </div>
</div>
     
  </div>
  